@import url(//db.onlinewebfonts.com/c/c8e8fcd5d85d9b587022fe0a79809b73?family=Friz+Quadrata);
$phone: "only screen and (max-width : 769px)";
$ipad: "only screen and (min-device-width : 768px) and (max-device-width : 1023px)";

html,body{
    height:100%;
}
body{
    font-family: nanum gothic,sans-serif!important;
    overflow-y: hidden;
    @media (max-width:1023px){
        overflow-y:scroll;
        overflow-x:hidden;
    }
}
#Slider{
    height:100%;
}
section{
    height:100%;
}
.blind{
    display: none;
}
// 1. header
.header{
    width:100%;
    // height:100%;
    position:fixed;
    z-index: 1000;
    .logo{
        width:150px;
        position:absolute;
        left:25px;
        top:20px;
        img{
            width:100%;
        }
    }
    .Topscroll{
        width:60px;
        position:absolute;
        right:25px;
        top:30px;
        img{
            width:100%;
        }
        @media (max-width:1023px){
            display: none;
        }
    }
    .ham{
        background: #3f3f3f;
        width:45px;
        height:45px;
        position: absolute;
        right:25px;
        top:30px;
        @media (min-width:1024px){
            display: none;
        }
        a{
            width:100%;
            height:100%;
            img{
                width:100%;
                height:100%;
            }
        }
        
    }
    nav{
        margin:40px 15% 0 0px;
        @media (max-width:1023px){
            display: none;
        }
        >#nav{
            float:right;
            >li{
                float:left;
                margin-right:40px;
                position: relative;
                .sub{
                    display: none;
                    position:absolute;
                    left:-15px;
                    height:237px;
                    padding-top:10px;
                    background-color: transparent;
                    
                    li{
                        line-height: 40px;
                        background-color: white;
                        width:170px;
                        text-indent: 15px;
                        &:hover{
                            background-color:#ff7800;
                            transition: 0.2s;
                            a{
                                color:white;
                                transition: 0.2s;
                            }
                        }
                        a{
                            font-weight: 600;
                            color:#3f3f3f;
                        }
                    }
                }
                &:hover{
                    >.sub{
                        display: block;
                    }
                }
                >a{
                    color:white;
                    font-weight: 600;
                    font-size:17px;
                    letter-spacing: 0.2px;
                    &::after{
                        margin-top:4px;
                        display: block;
                        content: "";
                        width:100%;
                        transform: scaleX(0);
                        height:2px;
                        background:white;
                    }
                    &:hover{
                        color:#ff7800;
                        transition: 0.1s;
                        &::after{
                            transform: scaleX(1);
                            background:#ff7800;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }   
    #Mnav{
        @media (min-width:1024px){
            display: none;
        }
    }
}
.navigation{
    position:fixed;
    left:30px;
    top:50%;
    transform: translateY(-50%);
    z-index: 1200;
    // top:320px;
    ul{
        float:left;
        li{
            margin-bottom:12px;
            a{
                display:inline-block;
                content:"";
                width:12px;
                height:12px;
                line-height: 10px;
                border-radius: 50%;
                border:1px solid whitesmoke;
                text-indent: 20px;
                box-sizing: border-box;
            }
            span{
                display: none;
                font-size:12px;
                letter-spacing: -1px;
                color:whitesmoke;
            }
            .onLC{
                border:none;
                background-color:whitesmoke;
                span{
                    display: block;
                }
            }
        }
    }
}
// 2. container1

.container1{
    background:#9a1e29;
    position:relative;
    .lodingbar{
        ul{
            li{
                position: absolute;
                top:0;
                width:100%;
                height:3px;
                &:first-child{
                    background-color:white;
                    z-index: 1300;
                    
                }
                &:last-child{
                    background-color:#ff7800;
                    z-index: 1301;
                    animation: loding 10s ease-in-out infinite;

                    @keyframes loding {
                        0%{width:0%}
                        100%{width:100%}
                    }
                }
            }
        }
    }
    .textBox{
        position: absolute;
        width:500px;
        height:400px;
        top:50%;
        left:60%;
        transform: translateY(-50%);
        letter-spacing: -0.5px;
        text-align: left;
        z-index: 70;
        .ENG{
            font-family:"Bell MT", Georgia, serif;
        }
        .KOR{
            font-family: 'Noto Sans KR', sans-serif
        }
        h2{
            font-size:60px;
            color:#ff7800;
            line-height: 80px;
            
        }
        .tText{
            font-size:22px;
            color:white;
            margin-bottom:20px;
            font-family:"Bell MT", Georgia, serif;
        }
        .bText{
            margin-top:40px;
            font-size:16px;
            color:white;
            z-index: 70;
        }
        .moreBtn{
            display:inline-block;
            margin-top:30px;
            width:140px;
            height:45px;
            border:3px solid #e7e7e7;
            border-radius: 20px;
            background-image: url(../images/icon-burger-gray.png);
            background-repeat: no-repeat;
            background-size: 35px;
            background-position: 10px 30%;
            text-indent: 65px;
            span{
                line-height: 40px;
                font-size:24px;
                color:#e7e7e7;
            }
            &:hover{
                background-image: url(../images/icon-burger-eat.png);
                background-size: 37px;
                transition: 0.3s;
            }
        }
        div{
            position: absolute;
            white-space: nowrap;
        }
        >.textBox1{
            opacity: 100%;
            z-index: 65;
        }
        >.textBox2{
            opacity: 0%;
            z-index: 65;
        }
        >.textBox3{
            opacity: 0%;
            z-index: 65;
        }
        .onText{
            display:block;
            z-index: 70;
        }
    }
    .slideBanner{
        width:50%;
        height:100%;
        position: relative;
        overflow: hidden;
        .firstBanner{
            position: absolute;
            opacity: 100%;
            width:100%;
            height:100%;
            z-index: 47;
            text-align: right;
            img{
                width:100%;
                min-width: 960px;
                height: 100%;
            }
        }
        .secondBanner{
            position: absolute;
            opacity: 0%;
            width:100%;
            height:100%;
            z-index: 47;
            text-align: right;
            img{
                width:100%;
                min-width: 960px;
                height: 100%;
            }
        }
        .thirdBanner{
            position: absolute;
            opacity: 0%;
            width:100%;
            height:100%;
            z-index: 47;
            text-align: right;
            img{
                width:100%;
                min-width: 960px;
                height: 100%;
            }
        }
        // .onBanner{
        //     display: block;
        // }
    }
    .triangle{
        .TrBL{
            position:absolute;
            right:50%;
            bottom: 0;
            opacity: 50%;
            z-index: 60;
            &:hover{
                opacity: 100%;
            }
        }
        .TrBR{
            position:absolute;
            left:50%;
            bottom:0;
            opacity: 50%;
            z-index: 60;
            &:hover{
                opacity: 100%;
            }
        }
    }
    .centerImg{
        width:470px;
        height:470px;
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        z-index: 50;
        div{
            position: absolute;
            z-index: 50;
            animation: motion 1s linear 0s infinite alternate;
        

            @keyframes motion {
            0% {transform: rotate(-3deg);}
	        100% {transform: rotate(3deg);}
        }
        
        }
        >.cimg1{
            // display:none;
            opacity: 100%;
            img{
                width:100%;
                z-index: 50;
            }
        }
        >.cimg2{
            // display:none;
            opacity: 0%;
            img{
                width:100%;
                z-index: 50;
            }
        }
        >.cimg3{
            // display:none;
            opacity: 0%;
            img{
                width:100%;
                z-index: 50;
            }
        }
        .onImg{
            // display: block;
            z-index: 51;
        }
    }
    .circleNum{
        position:absolute;
        bottom:65px;
        left:50%;
        transform: translateX(-50%);
        width:60px;
        height:60px;
        border-radius: 50%;
        background-color:#ff7800;
        border:3px solid white;
        text-align: center;
        line-height: 58px;
        z-index: 60;

        a{
            display:none;
            font-size:35px;
            color:white;
        }
        .onNum{
            display:block;
        }
    }
    .rightCircle{
        position:absolute;
        right:20px;
        top:50%;
        transform: translateY(-50%);
        text-align: center;
        ul{
            float:right;
            li{
                margin:15px 0;
                a{
                    display: block;
                    content:"";
                    width:50px;
                    height:50px;
                    border-radius: 50%;
                    border:3px solid white;
                    margin-bottom:10px;
                    &:hover{
                        border:3px solid #ff7800;
                        background-color:#ff7800;
                    }
                }
                span{
                    display: block;
                    font-weight: 600;
                    color:white;
                    letter-spacing: 0.1px;
                }
                >.org{
                    color:#ff7800;
                }
                &:first-child{
                    a{
                        background-image: url(../images/icon-user.png);
                        background-repeat: no-repeat;
                        background-position:48% 45%;
                        background-size: 29px;
                    }
                }
                &:nth-child(2){
                    a{
                        background-image: url(../images/icon-file.png);
                        background-repeat: no-repeat;
                        background-position:50% 45%;
                        background-size: 29px;
                    }
                }
                &:nth-child(3){
                    a{
                        background-image: url(../images/icon-delivery.png);
                        background-repeat: no-repeat;
                        background-position:48% 45%;
                        background-size: 29px;
                    }
                }
                &:last-child{
                    a{
                        background-image: url(../images/icon-shop.png);
                        background-repeat: no-repeat;
                        background-position:49% 45%;
                        background-size: 29px;
                    }
                }
            }
        }
    }
    
}
// 3. container2
.container2{
    // background:rgba(255,166,0,0.4);
    position:relative;
    overflow: hidden;
    .E2TopText{
        text-align: center;
        margin-top:130px;
        font-size:48px;
        color:#ea0a2a;
        font-family: "Friz Quadrata";
    }
    .E2centerText{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        font-size:100px;
        white-space:nowrap;
        color:black;
        opacity: 10%;
        z-index: 1;
        font-weight: bold;
        font-family:"Bell MT", Georgia, serif;
    }
    .LBTC{
        position: absolute;
        top:-17%;
        right:-8%;
        animation: rotate_image 12s linear infinite;
        transform-origin: 50% 50%;
        opacity: 75%;
    }
    @keyframes rotate_image{
        100% {
            transform: rotate(360deg);
        }
    }
    .RTTC{
        position: absolute;
        bottom:-17%;
        left:-8%;
        animation: rotate_image 12s linear infinite;
        transform-origin: 50% 50%;
        opacity: 75%;
    }
    @keyframes rotate_image{
        100% {
            transform: rotate(360deg);
        }
    }
    .mainposition{
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50% , -50%);
        z-index: 400;
        .mainMenu{
            display: flex;
            justify-content: space-around;
            >div{
                position: relative;
                z-index: 400;
                margin:0 7%;
                &:hover{
                    img{
                        transform: scale(1.05);
                        transition: 0.3s;
                    }
                    .menuhover{
                        opacity: 90%;
                        transition: 1s;
                        z-index: -200;
                    }
                }
            }
            .menuName{
                display: block;
                margin-top:30px;
                text-align: center;
                font-size:30px;
                font-weight: 600;
                letter-spacing: -1.5px;
            }
            .menuhover{
                position: absolute;
                width:500px;
                height:500px;
                left:-14%;
                top:-11%;
                background-image: url(../images/menuhover.png);
                // border:5px dotted #ea0a2a;
                // border-radius: 50%;
                animation: rotate_image 6s linear infinite;
                transform-origin: 50% 50%;
                opacity: 0%;
                z-index: -200;
            }
            @keyframes rotate_image{
                100% {
                    transform: rotate(180deg);
                }
            }
        }
    }
    
}
// 4. container3
.container3{
    // background:green;
    height:100%;
    #mainBanner{
        width:100%;
        height:100%;
        .threeBanner{
            width:100%;
            height:100%;
            li{
                float:left;
                width:33.3333333%;
                height:100%;
                position:relative;
                &:hover{
                    img{
                        filter: brightness(60%);
                    }
                }
                img{
                    width:100%;
                    height:100%;
                    filter: brightness(90%)
                }
                .bT{
                    position: absolute;
                    left:50%;
                    top:32%;
                    transform: translate(-50%,-50%);
                    font-size: 60px;
                    color:white;
                }
                .sT{
                    position: absolute;
                    left:50%;
                    top:42%;
                    transform: translate(-50%,-50%);
                    font-size:18px;
                    white-space: nowrap;
                    color:white;
                }
            }
        }
    }
}
// 5. container4
.container4{
    // background:green;
    position:relative;
    .rightBanner{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right:200px;
    }
    .textBox4{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left:200px;
        letter-spacing: -0.5px;
        text-align: left;
        h2{
            font-size:60px;
            color:#ff7800;
            line-height: 80px;
            font-family:"Bell MT", Georgia, serif;
            
        }
        .bText{
            margin-top:40px;
            font-size:16px;
            color:#171717;
        }
        .moreBtn{
            display:inline-block;
            margin-top:30px;
            width:140px;
            height:45px;
            border:3px solid #171717;
            border-radius: 20px;
            background-image: url(../images/icon-burger-black.png);
            background-repeat: no-repeat;
            background-size: 35px;
            background-position: 10px 30%;
            text-indent: 65px;
            span{
                line-height: 40px;
                font-size:24px;
                color:#171717;
            }
            &:hover{
                background-image: url(../images/icon-burger-eat-black.png);
                background-size: 37px;
                transition: 0.3s;
            }
        }
    }
}
// 6. footer
.footer{
    height:250px;
    text-align: center;
    color:white;
    border-top:4px solid #ff7800;
    .Background{
        width:100%;
        height: 100%;
        background-color:#232323;
        .footnav{
            ul{
                li{
                    display: inline-block;
                    margin:45px 10px 0 10px;
                    position: relative;
                    a{
                        font-size:14px;
                        color:white;
                        letter-spacing: -1px;
                    }
                    &::before{
                        display: block;
                        position:absolute;
                        content:"";
                        width:1px;
                        height:12px;
                        background:whitesmoke;
                        top:50%;
                        left:-10%;
                        transform: translateY(-50%);
                    }
                    &:first-child{
                        a{
                            color:#ff7800;
                        }
                        &::before{
                            display:none;
                        }
                    }
                }
            }
        }
        .footbottom{
            margin-top:45px;
            address{
                margin-bottom:30px;
                line-height: 15px;
                font-size:11px;
            }
        }
    }
}